---
import ChevronIcon from '@/components/icons/ChevronIcon'
---

<div class="inline-flex items-center gap-2">
  <button
    class="swiper-button-prev rounded-full bg-white p-3 outline outline-2 outline-offset-2 outline-transparent ring-1 ring-zinc-200 transition-colors duration-200 hover:bg-zinc-50/50 focus:outline-zinc-200"
    aria-label="Prev slide"
  >
    <ChevronIcon className="h-6 w-6 text-zinc-700/70" />
  </button>
  <button
    class="swiper-button-next rounded-full bg-white p-3 outline outline-2 outline-offset-2 outline-transparent ring-1 ring-zinc-200 transition-colors duration-200 hover:bg-zinc-50/50 focus:outline-zinc-200"
    aria-label="Next slide"
  >
    <ChevronIcon className="h-6 w-6 rotate-180 text-zinc-700/70" />
  </button>
</div>
