---
import type { HTMLAttributes } from 'astro/types'

export interface Props extends HTMLAttributes<'a'> {
  href: string
}
const props = Astro.props
---

<li>
  <a
    class="rounded-sm px-2 text-base font-normal leading-7 text-zinc-100 outline outline-1 outline-offset-2 outline-transparent focus-visible:outline-white sm:px-3 sm:font-medium"
    {...props}
  >
    <slot />
  </a>
</li>
