---
---

<li>
  <p
    class="cursor-default rounded-sm px-2 text-base font-normal leading-7 text-zinc-400 outline outline-1 outline-offset-2 outline-transparent focus:outline-white sm:px-3 sm:font-medium"
  >
    <slot />
  </p>
</li>
