---
import Header from '@/components/templates/Header/index.astro'
import BaseHead from '@/components/templates/BaseHead.astro'
import BlackHole from '@/components/islands/BlackHole/Scene'
---

<html class="h-full w-full bg-black" lang="en">
  <head>
    <BaseHead description={'Page not found'} title={'404 - Page not found'} />
  </head>
  <body class="h-full w-full overflow-x-hidden antialiased">
    <Header
      class="border-zinc-400 !bg-transparent lg:[&_a:hover]:text-white [&_a]:after:hidden lg:[&_a]:text-zinc-400 lg:[&_p]:text-zinc-400"
    />
    <main>
      <div
        class="wrapper flex h-full translate-y-[calc((50vh-50%)-4rem)] flex-col text-center"
      >
        <h1 class="mb-16 cursor-default font-lexend text-[9rem] text-white">
          404
        </h1>
        <div
          class="mx-auto flex w-full max-w-[16rem] flex-col justify-center gap-4 xs:max-w-none xs:flex-row"
        >
          <button
            class="btn h-11 w-full justify-center border border-zinc-900 bg-transparent text-zinc-900 hover:bg-zinc-900 hover:text-white focus:outline-zinc-900 xs:w-fit"
            onclick="history.back()">Go Back</button
          >
          <a
            class="btn h-11 w-full justify-center border border-transparent bg-zinc-900 text-white hover:border-zinc-900 hover:bg-transparent hover:bg-opacity-70 hover:text-zinc-900 focus:outline-zinc-900 xs:w-fit"
            href="/">Take me home</a
          >
        </div>
      </div>
    </main>
    <BlackHole className="!fixed inset-0 z-[-1]" client:only />
  </body>
</html>
