---
import ArrowSpinDown from '@/components/elements/ArrowSpinDown'
import BackgroundBlob from '@/components/elements/Blob'
import Scene from '@/components/islands/Room/Scene'
import { type TSocial, socials } from '@/data'

import IconLink from '../IconLink.astro'
import Link from '../Link.astro'
---

<section class="relative overflow-hidden py-20 lg:py-24">
  <div
    class="wrapper flex flex-col-reverse gap-0 p-0 lg:flex-row lg:gap-8 lg:px-8"
  >
    <div
      class="z-20 mx-auto flex w-full max-w-[42rem] flex-1 flex-col justify-center text-center lg:text-left"
    >
      <h1
        class="mb-4 px-4 animate-delay-100 sm:px-6 md:px-8 lg:mb-6 lg:animate-fade-up lg:px-0"
      >
        Helping <span class="decorator-underline">people</span>{' '}
        turn their ideas into reality
      </h1>
      <div
        class="relative aspect-[1/0.9] h-auto w-full lg:static lg:aspect-auto"
      >
        <div
          class="absolute left-[50%] top-2 z-20 w-fit -rotate-12 flex-col gap-4 sm:top-4 lg:right-[calc(50%-12rem)] lg:top-24 lg:flex lg:-translate-y-14 lg:translate-x-36"
        >
          <p
            class="-translate-x-9 font-gochi text-sm text-zinc-600 sm:text-base lg:text-2xl"
          >
            My room in 3D
          </p>
          <ArrowSpinDown
            className="h-12 w-8 rotate-45 -scale-x-100 text-zinc-600 sm:h-14 lg:h-20 lg:w-28"
          />
        </div>
        <Scene client:load />
      </div>
      <p
        class="mb-10 px-4 animate-delay-100 sm:px-6 md:px-8 lg:max-w-lg lg:animate-fade-up lg:px-0 lg:text-lg"
      >
        This is what inspires me as a developer and technology enthusiast.
        Cooperating with startups, agencies, and studios, I develop amazing
        business solutions.
      </p>
      <div
        class="flex flex-wrap items-center justify-center gap-x-10 gap-y-6 px-4 animate-delay-100 sm:px-6 md:px-8 lg:animate-fade-up lg:flex-row lg:justify-start lg:px-0"
      >
        <Link
          class="bg-zinc-900 px-7 py-2.5 font-bold text-white hover:bg-violet-800 focus:outline-zinc-900"
          href={import.meta.env.ASTRO_CTA_URL}
          rel="noopener noreferrer"
          target="_blank"
        >
          Book a Meeting
        </Link>
        <div class="flex gap-4">
          {
            socials
              .filter((item) => item.id !== 1)
              .map(({ icon: Icon, text, url }: TSocial) => (
                <IconLink
                  class="outline-offset-2 focus:outline-zinc-900"
                  aria-label={text + ' link'}
                  href={url}
                >
                  <Icon className="h-4 w-4 text-zinc-600" />
                </IconLink>
              ))
          }
        </div>
      </div>
    </div>
    <div class="placeholder lg:h-[36rem] lg:flex-1"></div>
  </div>
  <BackgroundBlob
    className="absolute bottom-0 left-[50%] z-[-1] h-[30rem] w-[30rem] translate-x-[calc(-50%-5rem)] opacity-70 lg:top-0 lg:h-[50rem] lg:w-[50rem] lg:translate-x-[calc(-50%-40rem)]"
  />
</section>
