---
import Footer from '@/components/templates/Footer/index.astro'
import Header from '@/components/templates/Header/index.astro'
import BaseHead from '@/components/templates/BaseHead.astro'

interface Props {
  description: string
  title: string
}
const { description, title }: Props = Astro.props
const { pathname } = Astro.url
const isHomepage = pathname === '/'
---

<html lang="en">
  <head>
    <BaseHead description={description} title={title} />
  </head>
  <body class="overflow-x-hidden">
    <Header class={isHomepage ? 'animate-fade-down animate-delay-100' : ''} />
    <main class="relative">
      <slot />
    </main>
    <Footer />
  </body>
</html>
